<footer>
    <div id="footer-sections">
        <section>
            <i class="fas fa-credit-card icono-section"></i>
            <h5>Pagá con tarjeta o en efectivo</h5>
            <p class="cuerpoTexto">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <i class="fas fa-gift icono-section"></i>
            <h5>Envío gratis desde $2.500</h5>
            <p class="cuerpoTexto">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <i class="fas fa-user-shield icono-section"></i>
            <h5>Seguridad, de principio a fin</h5>
            <p class="cuerpoTexto">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        </div>

        <p class="cuerpoTexto">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
</footer>