<header>
        <div>
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" id="logo">
            <form id="search-bar">
                <label for="search"></label>
                <input type="text" name="search" id="search" placeholder="Buscar productos, marcas y más">
                <i class="fas fa-search buscar"></i>
            </form>
            <p id="compra-cuotas"><i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <nav>
            <ul id="secciones">
                <li>Ofertas</li>
                <li>Tiendas oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul id="navbar">
                <li><a href="/users/register">Creá tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="/users/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>

        </nav>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>

</header>